
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        @Session["Ad"] @Session["Soyad"] Hoşgeldiniz!
    </div>
</div>

